################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BF2_FRAMWEORK/v17/Browse.VC.opendb
